let mapleader = ","
inoremap jk <Esc>

" === Mappings ===
map <leader>p <Action>(SearchEverywhere)
map <leader>r <Action>(RenameElement)
map <leader>f <Action>(ReformatCode)
map <leader>F <Action>(Find)
map <leader>g <Action>(FindUsages)
map <leader>O <Action>(ActivateStructureToolWindow)
map <leader>o <Action>(FileStructurePopup)
map <leader>j <Action>(GotoNextError)
map <leader>k <Action>(GotoPreviousError)
map <leader>c <Action>(GotoClass)
map <leader>s <Action>(GotoSymbol)
map <leader>w <Action>(EditorToggleShowWhitespaces)
map <leader>R <Action>(Run)
map <leader>D <Action>(Debug)
map <leader>d <Action>(GotoDeclaration)

" === Extentsion ==
set surround
set NERDTree

map <leader>n :NERDTreeToggle<CR>

